<nav id="workspace-navbar">
  <h1 class="hidden">Your Workspace Menu</h1>
  <ul class="workspace-navbar__list">
    <li class="workspace-navbar__list__item">
      <a ui-sref="workspace.dashboard" ui-sref-active="active"><i class="fa fa-qrcode"></i>Dashboard</a>
    </li>
    <li class="workspace-navbar__list__item">
      <a ui-sref="workspace.crawl" ui-sref-active="active"><i class="fa fa-search"></i>Crawl</a>
    </li>
    <li class="workspace-navbar__list__item">
      <a ui-sref="workspace.scrape" ui-sref-active="active"><i class="fa fa-bug"></i>Scrape</a>
    </li>
  </ul>
</nav>
